<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

<form>      
  <%= form.text_field :name,class: 'form' , :autocomplete => "off",:class => "feedback-input" , :placeholder => "お名前"  %>
  <%= form.text_field :email,class: 'form'  , :autocomplete => "off",:class => "feedback-input" ,:placeholder => "メールアドレス" %>
  <%= form.text_field :phonenumber,class: 'form'  , :autocomplete => "off",:class => "feedback-input" ,:placeholder => "電話番号" %>
  <%= form.text_area :content,class: 'form' , :autocomplete => "off",:class => "feedback-input" ,:placeholder => "お問い合わせ内容" %>
  <%= form.submit '送信する',data: { confirm: 'お問い合わせを送信しますか？' },class: 'submit' %>
</form>

<% end %>


