<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="formSet">
    <%= form.label :お名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="formSet">
    <%= form.label :電話番号 %>
    <%= form.text_field :phonenumber %>
  </div>

  <div class="formSet">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email %>
  </div>

 <div class="formSet">
    <%= form.label :お問い合わせ内容 %>
    <%= form.text_area :content,:size => "55x10" %>
  </div>

  <div class="formSet">
    <%= form.submit "お問い合わせを送信する",data: { confirm: '管理者に送信されます。送信しますか？' },class:"button" %>
  </div>
<% end %>

