<%= form_with(model: provider) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
        <% provider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :タイトル,class: 'label' %>
    <%= form.text_field :title,class: "form" %>
  </div>

  <div class="field">
    <%= form.label :会社名,class: 'label' %>
    <%= form.text_field :company,class: "form" %>
  </div>

   <div class="field">
    <%= form.label :事業者HP,class: 'label' %>
    <%= form.text_field :link,class: "form" %>
  </div>

  <div class="field">
    <%= form.label :報酬,class: 'label' %>
    <%= form.text_field :reward,class: "form" %>
  </div>

  <div class="field">
    <%= form.label :仕事内容,class: 'label' %>
    <%= form.text_area :pcontent, :size => "75x5",class: "formB" %>
  </div>

  <div class="field">
    <%= form.label :報酬支払日,class: 'label' %>
    <%= form.text_field :rday,class: "form" %>
  </div>

  <div class="field">
    <%= form.label :報酬内容,class: 'label' %>
    <%= form.text_area :rcontent, class: "formB", :size => "75x5" %>
  </div>

  <div class="field">
    <%= form.label :地域,class: 'label' %>
    <%= form.text_area :area, class: "formB", :size => "75x5" %>
  </div>

  <div class="field">
    <%= form.label :アピールポイント,class: 'label' %>
    <%= form.text_area :appeal, :size => "75x5",class: "formB" %>
  </div>

  <div class="field">
    <%= form.label :案件ステータス,class: 'label' %>
    <%= form.select :status, [['公開'], ['非公開']], { include_blank: false }, { class: "form" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
