  
 
<ul class="buttons">

        <li class="btn"><%= link_to "トップページに戻る >","/tops/index" %></button>

        <li class="btn"><%= link_to "お問い合わせ一覧(#{ @questionnumber }件) >","/questions" %></button>
  
        <li class="btn"><%= link_to "お知らせ一覧 >","/news" %></button>
  
        <li class="btn"><%= link_to "お知らせを追加する >","/news/new" %></button>
      
        <li class="btn"><%= link_to "口コミ一覧(#{ @introductionnumber }件) >","/introductions/index" %></button>
     
        <li class="btn"><%= link_to "案件一覧 >","/providers" %></button>
    
        <li class="btn"><%= link_to "案件を追加する >","/providers/new" %></button>
     
        <li class="btn"><%= link_to "ユーザー一覧 >","/users/index" %></button>
      
</ul>
  