   <div class="side">
   <div id="contact" class="shadow-md mb-5 mt-8 w-full">
      <div>
        <p class="bg-gray-200">お問い合わせ</p>
      </div>
      <div class="w-full p-3">
        <button class="w-full p-1 border border-gray-400 hover:bg-gray-300"><%= link_to "お問い合わせ一覧","/questions" %></button>
      </div>
    </div>

    <div id="introduction" class="shadow-md mb-5 w-full">
      <div>
        <p class="bg-gray-200">お知らせ</p>
      </div>
      <div class="w-full p-3">
        <button class="w-full p-1 border border-gray-400 hover:bg-gray-300"><%= link_to "お知らせ一覧","/news" %></button>
      </div>
      <div class="w-full pb-3 pr-3 pl-3">
        <button class="w-full p-1 border border-gray-400 hover:bg-gray-300 block"><%= link_to "お知らせを追加する","/news/new" %></button>
      </div>
    </div>

    <div id="introduction" class="shadow-md mb-5 w-full">
      <div>
        <p class="bg-gray-200">お客様紹介</p>
      </div>
      <div class="w-full p-3">
        <button class="w-full p-1 border border-gray-400 hover:bg-gray-300"><%= link_to "口コミ一覧","/introductions/index" %></button>
      </div>
    </div>

    <div class="shadow-md mb-5 w-full h-auto">
      <div>
        <p class="bg-gray-200">案件情報</p>
      </div>
      <div class="w-full p-3">
        <button class="w-full p-1 border border-gray-400 hover:bg-gray-300 block"><%= link_to "案件一覧","/providers" %></button>
      </div>
      <div class="w-full pb-3 pr-3 pl-3">
        <button class="w-full p-1 border border-gray-400 hover:bg-gray-300 block"><%= link_to "案件を追加する","/providers/new" %></button>
      </div>
    </div>

      
      <div class="mb-5 w-full h-auto shadow-md">
        <div>
          <p class="bg-gray-200">ユーザー情報</p>
        </div>
        <div class="w-full p-3">
          <button class="w-full p-1 border border-gray-400 hover:bg-gray-300 block"><%= link_to "ユーザー一覧","/users/index" %></button>
        </div>
      </div>
    </div>