<%= render '/layouts/header' %>
<div class="provider-index">
<div class="side">
<%= render 'side' %>
</div>

<div class="providers">
<h1>案件一覧</h1>
<table>
  <thead>
    <tr>
      <th>案件名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr class="provideredition">
        <td class="provideredition"><%= provider.title %></td>
        <td class="provideredition"><%= link_to '詳細', provider %></td>
        <td class="provideredition"><%= link_to '編集', edit_provider_path(provider) %></td>
        <td class="provideredition" ><%= link_to '削除', provider, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        <td class="provideredition"><%= provider.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '案件を作成する', new_provider_path %>
</div>
</div>
