<body class="userEdit">
 <%= render '/layouts/header' %>
<div class="editWrap">
      <%= render '/users/editside' %>
      <div class="mainEdit">
        <div class="edit-page">
              <div class="formEdit">


            
              <%= form_for(resource, as: resource_name, url: update_password_path, html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <p class="alert"><%= alert %></p>

                 <h1 id="passEdit">パスワード設定</h1>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                  <div>
                 


                        <div class="formSetEdit mt-5">
                          <div class="text-left">新しいパスワード</div>
                          <%= f.password_field :password, autocomplete: "new-password" %>
                        </div>

                        <div class="formSetEdit">
                          <div class="text-left">新しいパスワード（確認用）</div>
                          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div>

                        <div class="formSetEdit">
                          <div class="text-left">現在のパスワード</div>
                          <%= f.password_field :current_password, autocomplete: "current-password",value: current_user.password %>
                        </div>

                        <div class="formSetEdit">
                          <%= f.submit "パスワードを更新する",class:"button" %>
                        </div>

                
                
                  </div>
                  
              <% end %>

              </div>
              </div>
      </div>
</div>
</body>