<body class="userEdit">
 <%= render '/layouts/header' %>
<div class="editWrap">
      <div class="sideEdit">
        <div class="sideEditMain">
        <h3 id="normalEdit">ユーザー設定</h3>
       
          <p><a href="/users/basicedit">基本情報</a></p>
          <p><a href="/users/edit">パスワード設定</a></p>
          <p><a href="/users/bankedit">口座設定</a></p>

        <h3 id="normalEdit">その他</h3>
          <p><a href="/users/invitation/new">友達を招待する</a></p>
          <p><a href="/users/invitation/new">パラキャリを退会する</a></p>
      
        </div>
      </div>
      <div class="mainEdit">
        <div class="edit-page">
              <div class="formEdit">


              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <p class="alert"><%= alert %></p>

                 <h2 id="passEdit">パスワード設定</h2>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                  <div>
                 


                        <div class="formSet">
                          <div class="text-left">新しいパスワード</div>
                          <%= f.password_field :password, autocomplete: "new-password" %>
                        </div>

                        <div class="formSet">
                          <div class="text-left">新しいパスワード（確認用）</div>
                          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div>

                        <div class="formSet">
                          <div class="text-left">現在のパスワード</div>
                          <%= f.password_field :current_password, autocomplete: "current-password" %>
                        </div>

                        <div class="formSet">
                          <%= f.submit "パスワードを更新する",class:"button" %>
                        </div>

                
                
                  </div>
                  
              <% end %>


              <%= link_to "Back", :back %>

              </div>
              </div>
      </div>
</div>
</body>
