<body class="sign-up">
  <div class="sign-up-main ">
    <h2>ユーザー登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="fields">
        <!-- ユーザー名を追加 -->
        <div class="field">
          <%= f.label :お名前,class: 'label' %>
          <%= f.text_field :username,class:"form" %>
        </div>

        <div class="field">
              <%= f.label :電話番号,class: 'label' %>
              <%= f.text_field :phonenumber, autofocus: true, placeholder: '  09012345678',class: 'form' %>
            </div>

        <div class="field">
          <%= f.label :メールアドレス,class: 'label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form' %>
        </div>

        <div class="field">
          <%= f.label :銀行名,class: 'label' %>
          <%= f.text_field :bank,class:"form" %>
        </div>

        <div class="field">
          <%= f.label :支店名,class: 'label' %>
          <%= f.text_field :branch,class:"form" %>
        </div>

        <div class="field">
          <%= f.label :口座種類,class: 'label' %>
           <%= f.select :kinds, [['普通'], ['当座']], { include_blank: false }, { class: "form" } %>
        </div>

        <div class="field">
          <%= f.label :口座番号,class: 'label' %>
          <%= f.text_field :banknumber,class:"form" %>
        </div>

        <div class="field">
          <%= f.label :password,class: 'label' %>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %> 文字以上)
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password",class: 'form' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation,class: 'label' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'form' %>
        </div>

        <div class="actions">
          <%= f.submit "登録する",class: 'submit' %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
</body>