
<%= render '/layouts/header' %>

    <div class="introduction-index w-full flex pt-24">
      <div class="introductions">


        



      <table class="border border-black w-11/12 m-auto">

        <h1 class="text-center font-bold text-2xl pb-6 main_title">口コミの進捗状況確認表</h1>
         <tr class="border"><th class="border border-black posts_name">案件名</th><th class="border border-black progressing">進捗状況</th></tr>
        <% @introductions.each do |introduction| %> 
        <% if introduction.user_id == current_user.id %>
        <tr class="border  text-center posts">
          <td class="border border-black post_title_th">
            <a href="/progresses/<%= introduction.id %>" class="introductionlink"><%= introduction.work.title %></a>
          </td>
          <td class="post_progress_th">
            <% if introduction.step == nil %>
            口コミ完了
            <% else %>
            <%= introduction.step %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </table>

      <table class="border border-black w-11/12 m-auto">
          <h1 class="text-center font-bold text-2xl pb-6 main_title main_title_info">パラキャリからのお知らせ</h1>
          <tr class="border"><th class="border border-black info_title">タイトル</th></tr>
        
          <% @news.each do |news| %> 
            <tr class="border  text-center infos">
              <td class="border border-black">
              <a href="/progresses/<%= news.id %>"><%= news.title %></a>
              </td>
            </tr>
          <% end %>
        
        </table>


    
      
      

     

    </div>

</div>
<%= render '/layouts/footer' %>