<%= render '/layouts/header' %>
<div class="introduction-index w-full ">
  <div class="introductions">
  <h1>進捗状況確認表</h1>
    <table class="table userTable  ">
    <thead>
      <tr id="heading" class="border text-left heading">
      <th id="workNameth" class="border ">案件名</th>
      <th id="" class="border ">口コミ内容</th>
      <th id="" class="border ">進捗状況</th>
      
      <th class="border "></th></tr>
    </thead>
      
      <tbody class="table-striped">
      <% @introductions.each do |introduction| %> 
       <% if introduction.user_id == current_user.id %>
        <tr class="border text-left">
        <td id="textLimit" class="border "><%= introduction.work.title %></td> 
        <td id="textLimit"  class="border "><%= introduction.contents %></td>
        <% if introduction.step == nil %>
          <td  class="border ">口コミ完了</td>
          <% else %>
          <td  class="border "><%= introduction.step %></td>
        <% end %>
          
          <td class="morebtn  text-center border"><a href="/progresses/<%= introduction.id %>" class="toShow text-decoration-none">詳細</a></td></tr>
      
      <% end %>
      <% end %>
  
      </tbody>    
      </table>


  </div>
</div>



