
<%= render '/layouts/header' %>
<div id="introduction-show" class="flex w-12/12">

    <div id="center">

    <table class="border border-black w-7/12 m-auto">
      
        
      <tr class="border font-bold "><td class="border border-black text-center py-3">案件名</td><td class="border border-black text-center"><%= @introduction.provider.title %></td></tr>
      <tr class="border"><td class="border border-black text-center py-3">紹介者名</td><td class="border border-black"><%= @introduction.user.username %>様</td></tr>
      <tr class="border"><td class="border border-black text-center py-3">お客様名</td><td class="border border-black"><%= @introduction.name %>様</td></tr>
      <tr class="border"><td class="border border-black text-center py-3">お客様電話番号</td><td class="border border-black"><%= @introduction.phonenumber %></td></tr>
      <tr class="border"><td class="border border-black text-center py-3">内容</td><td class="border border-black"><%= @introduction.contents %></td></tr>
      
      
    </table>
    </div>
</div>