
<%= render '/layouts/header' %>

<div id="introduction-show" class="w-75 m-auto">

    <div id="center" class="progresses">

    <table class="table ">
      
      <tr class="">
      <td class="">口コミ日時</td><td class=""><%= l @introduction.created_at %></td>
      </tr>
      <tr class="">
      <td class="">案件名</td><td class=""><%= @introduction.work.title %></td>
      </tr>

      <tr class="">
      <td class="">お客様名</td><td class=""><%= @introduction.name %>様</td>
      </tr>

      <tr class="">
      <td class="">お客様電話番号</td><td class=""><%= @introduction.phonenumber %></td>

      </tr>
      <tr class=""><td class="">口コミ内容</td><td class=""><%= @introduction.contents %></td>
      </tr>

      <tr class=""><td class="">進捗状況</td>  
        <% if @introduction.step == nil %>
        <td class="">口コミ送信完了</td>
        <% else %>
        <td class=""><%= @introduction.step %></td>
        <% end %>
      </tr>
      
    </table>

    </div>
    
</div>


<div class="container-fluid">
  <br /><br />
  <ul class="list-unstyled multi-steps">
  <% if @introduction.step == nil %>
    <li class="is-active">口コミ送信完了</li>
    <% else %>
    <li>口コミ送信完了</li>
  <% end %>

  <% if @introduction.step == "口コミ確認完了"%>
    <li class="is-active">口コミ確認完了</li>
  <% else %>
    <li>口コミ確認完了</li>
  <% end %>

  <% if @introduction.step == "検討中" %>
    <li class="is-active">検討中</li>
    <% else %> 
    <li>検討中</li>
    <% end %>

  <% if @introduction.step == "進行中" %>  
    <li class="is-active">進行中</li>
    <% else %>
    <li>進行中</li>
    <% end %>

  <% if @introduction.step == "契約成立"%>
    <li class="is-active">契約成立</li>
    <% else %>
    <li>契約成立</li>
    <% end %>

  <% if @introduction.step == "報酬振込完了"%>
    <li class="is-active">報酬振込完了</li>
    <% else %>
    <li>報酬振込完了</li>
    <% end %>

  </ul>
</div>
