
<%= render '/layouts/header' %>

<div id="introduction-show" class="flex w-12/12">

    <div id="center">

    <table class="table">
      
        
      <tr class="">
      <td class="">案件名</td><td class=""><%= @introduction.work.title %></td>
      </tr>

      <tr class="">
      <td class="">お客様名</td><td class=""><%= @introduction.name %>様</td>
      </tr>

      <tr class="">
      <td class="">お客様電話番号</td><td class=""><%= @introduction.phonenumber %></td>

      </tr>
      <tr class=""><td class="">口コミ内容</td><td class=""><%= @introduction.contents %></td>
      </tr>

      <tr class=""><td class="">進捗状況</td>  
        <% if @introduction.step == nil %>
        <td class="">口コミ送信完了</td>
        <% else %>
        <td class=""><%= @introduction.step %></td>
        <% end %>
      </tr>
      
    </table>

  <% if @introduction.step == nil %>
    <ol class="progress-bar">
        <li class="is-active"><span>口コミ送信完了</span></li>  
        <li class=""><span>口コミ確認完了</span></li>  
        <li class=""><span>進行中</span></li>
        <li class=""><span>検討中</span></li>  
        <li class=""><span>契約成立</span></li>
        <li class=""><span>報酬振込完了！</span></li>
      </ol>

  <% elsif @introduction.step == "口コミ確認完了" %>
      <ol class="progress-bar">
        <li class="is-complete"><span>口コミ送信完了</span></li>  
        <li class="is-active"><span>口コミ確認完了</span></li>  
        <li class=""><span>進行中</span></li>
        <li class=""><span>検討中</span></li>  
        <li><span>契約成立</span></li>
        <li><span>報酬振込完了！</span></li>
      </ol>

  <% elsif @introduction.step == "進行中" %>
      <ol class="progress-bar">
        <li class="is-complete"><span>口コミ送信完了</span></li>  
        <li class="is-complete"><span>口コミ確認完了</span></li>  
        <li class="is-active"><span>進行中</span></li>
        <li class=""><span>検討中</span></li>  
        <li><span>契約成立</span></li>
        <li><span>報酬振込完了！</span></li>
      </ol>

    <% elsif @introduction.step == "検討中" %>
      <ol class="progress-bar">
        <li class="is-complete"><span>口コミ送信完了</span></li>  
        <li class="is-complete"><span>口コミ確認完了</span></li>  
        <li class="is-complete"><span>進行中</span></li>
        <li class="is-active"><span>検討中</span></li>  
        <li><span>契約成立</span></li>
        <li><span>報酬振込完了！</span></li>
      </ol>

    <% elsif @introduction.step == "契約成立" %>
      <ol class="progress-bar">
        <li class="is-complete"><span>口コミ送信完了</span></li>  
        <li class="is-complete"><span>口コミ確認完了</span></li>  
        <li class="is-complete"><span>進行中</span></li>
        <li class="is-complete"><span>検討中</span></li>  
        <li class="is-active"><span>契約成立</span></li>
        <li><span>報酬振込完了！</span></li>
      </ol>

  <% elsif @introduction.step == "検討中" %>
      <ol class="progress-bar">
        <li class="is-complete"><span>口コミ送信完了</span></li>  
        <li class="is-complete"><span>口コミ確認完了</span></li>  
        <li class="is-complete"><span>進行中</span></li>
        <li class="is-complete"><span>検討中</span></li>  
        <li class="is-complete"><span>契約成立</span></li>
        <li class="is-active"><span>報酬振込完了！</span></li>
      </ol>
 <% end %>
    </div>
</div>
<%= render '/layouts/footer' %>