
<div class="providersideMain">

        <ul class="side-contents back-toppage">
          <li class="btn nav-item"><%= link_to "< トップページに戻る","/tops/index" %></li>
        </ul>

        <ul class="side-contents all-cases">
          <li class="btn nav-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"><%= link_to " 案件一覧","/works" %></span></li>
        </ul>

        <ul class="side-contents all-user">
          <li class="btn nav-item"><span class="glyphicon glyphicon-user" aria-hidden="true"><%= link_to " ユーザー一覧","/users/index" %></span></li>
        </ul>

        <ul class="side-contents all-reviews">
          <li class="btn nav-item"><span class="glyphicon glyphicon-comment" aria-hidden="true"><a href="/introductions/index"> 口コミ一覧 <span class="badge badge-primary badge-pill"><%= @introductionnumber %></span></a></span></li>
        </ul>

        <ul class="side-contents all-notices ">
          <li class="btn nav-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"><a href="/news"> お知らせ一覧 <span class="badge badge-primary badge-pill"></span></a></span></li>
        </ul>

  

   
</div>
  
<!-- <header class="site-header lg:block z-9 w-full fixed bg-white border-b-2">

 <ul class="wrapper site-header__wrapper">
        <ul class="header-logo">
          <%= link_to "ロゴ" ,"/tops/index" %>
        </ul>

          <nav class="nav">
            <ul class="display-none">
            <ul class="hamburger-menu">
                    <input type="checkbox" id="menu-btn-check">
                    <label for="menu-btn-check" class="menu-btn"><span></span></label>
                  <ul class="menu-content"> 
                          <ul>
                          <li class=""><%= link_to "トップページに戻る","/tops/index" %></li>
                          <li class=""><%= link_to "案件一覧","/works" %></li>

                          <li class=""><%= link_to "口コミ一覧(#{ @introductionnumber }件)","/introductions/index" %></button>

                      
             
                          <li class="nav__item"><%= link_to "お知らせ一覧","/news" %></li>
                      
                          <li class=""><%= link_to "ユーザー一覧","/users/index" %></li>
                          <li class=""><%= link_to '管理者ログアウト' , destroy_admin_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' } %></li>
                 

                        <li class=""><%= link_to '事業者ログアウト' , destroy_provider_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' } %></li>
                    

                          </ul>
                    </ul>
                </ul>
                </ul>

                      
            </nav>
  </ul>
 </header> -->
