



<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
    <div class="mainHeader">
    <ul>
      <li class=""><span>ログアウト</span></li>
      <li><%= current_provider.email %></li>
    </ul>
    </div>
    
        
    <div class="userIndex">
      <h3 class="text-center">案件一覧</h3>
      <div class="providerTable">
      <a href="news/new" class="toNew">＋ 新規作成</a>

        <table class="table userTable">

        <thead class="heading">
          <tr class="border">
            <th class="border">会社名</th>
            <th class="border">案件名</th>
            <th>ステータス</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @works.each do |work| %>
            <tr class="provideredition">
              <td class="provideredition"><%= work.company %></td>
              <td class="provideredition"><%= work.title %></td>
              <td class="provideredition"><%= work.status %></td>
              <td class=""><%= link_to '詳細', work,class:"btn" %></td>
              <td class=""><%= link_to '編集', edit_work_path(work),class:"btn" %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>

  </div>
</body>

   