

<div class="provider-index">
  <div class="side">
  <%= render 'side' %>
  </div>


  <div class="providers">
      <div class="header">
      <%= render 'side_header'%>
      </div>
      <div class="cases-title">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"><h1>案件一覧</h1></span>
      </div>
      <table class="table">

        <thead>
          <tr>
            <th>会社名</th>
            <th>案件名</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @works.each do |work| %>
            <tr class="provideredition">
              <td class="provideredition"><%= work.company %></td>
              <td class="provideredition"><%= work.title %></td>
              <td class="provideredition"><%= work.status %></td>
              <td class=""><%= link_to '詳細', work,class:"btn" %></td>
              <td class=""><%= link_to '編集', edit_work_path(work),class:"btn" %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


</div>
