<!--以下をコピーして使用してください-->
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>

  <%= render '/layouts/header' %>
  

  <section class="top-bg">
    <div class="top">
      <div class="top-catchcopy">
        <div class="phrase p1"><div class="bgappear">あなたの口コミが複業になる</div></div>
        <div class="phrase p2"><div class="bgappear">掲載企業から商品説明をきいてみたいあなたの知人の連絡先を送るだけ！</div></div>
      </div>
      <div class="start-top">
        <%= link_to "無料ではじめる" ,"/users/sign_up",class: "btn-top" %></div>
      </div>
    </div>
  </section>
  
                  

    <main class="top-page">

      <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger"><h1 class="title">パラキャリだから続けられる</h1></div></div>
    <section class="merit">
      
      <div class="merit-phrase">
      </div>
      <div class="merit-items">
        <div class="merit-item">
        <h3>コスト0</h3>
        <p>案件紹介サービスは顧客側が課金して成果が発生するものがほとんどですが、パラキャリでは金銭的なリスクがない案件も多数取り扱っているため、気軽に紹介できます。</p>
        </div>
        <div class="merit-item move">
          <h3>面倒な手続き不要</h3>
          <p>企業に紹介をして紹介料を受け取る場合、業務委託契約を結ぶ必要がありますが、そういった手続き・契約のやりとりは一切不要。
            好きなタイミングで好きな時に紹介して報酬をゲットできます。</p>
        </div>
      
        <div class="merit-item">
          <h3>高報酬の案件が多数</h3>
          <p>副業月収10万円以上を達成した方100名突破。9割以上が紹介報酬単価3万円以上の案件です。</p>
        </div>
        
        <div class="merit-item move">
          <h3>スマホで簡単</h3>
          <p>アフィリエイトをするためのメディア、サイトの登録も不要。必要事項を登録すれば、2分で簡単に始められます。</p>
        </div>
      </div>
    </section>

    <section class="Items-list">
    <div class="subtitle child">
        <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">豊富な案件も！</div></div>
      </div>
    <div class="Items">
      <div class="Item">
          <div class="Item-top">
            <i class="fas fa-hand-holding-heart"></i>
            <p class="Item-title">転職先企業紹介</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：紹介料の<span>20%</span></p>
            <p class="Item-content">転職もしくは就職をしたい方をご紹介ください。現在フリーター・無職の方でもOKです。</p>
          </div>
      </div>
      <div class="Item">
          <div class="Item-top">
            <i class="fas fa-coins"></i>
            <p class="Item-title">補助金の申請サポート</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：申請手数料の<span>20%</span></p>
            <p class="Item-content">補助金・助成金の申請のサポートをさせていただける方を紹介してください。</p>
          </div>
      </div>
      <div class="Item">
          <div class="Item-top">
            <i class="fas fa-building"></i>
            <p class="Item-title">賃貸物件紹介</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：家賃の<span>50%</span></p>
            <p class="Item-content">引越しする方をご紹介ください。 ネットに載ってる物件や未公開物件を安くご案内します。</p>
          </div>
      </div>
      <div class="Item">
          <div class="Item-top">
            <i class="far fa-file-alt"></i>
            <p class="Item-title">火災保険申請サポート</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：約<span>10</span>万円/件</p>
            <p class="Item-content">プロによる物件の無料調査を受けたいお客様をご紹介ください。</p>
          </div>
      </div>
    </div>
    
    <div class="SeeMore">
      <%= link_to "案件をもっとみる", "/posts/index" , class: "btn-more" %></div>
    </div>
    </section>
    
      
      <section id="FAQ" class="FAQ parent">
      <div class="subtitle child">
        <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">FAQ</div></div>
      </div>
      <div class="FAQ-items">
        
        <div class="FAQ-item">
          <label for="Q1" class="Q-title">
            <div>Q.自分の案件でも報酬は発生しますか？</div>
            <div><i class="fas fa-plus"></i></div>
          </label>
          <input type="checkbox" id="Q1">
          <ul class="A A1">
            <li>A.ご自身で案件の内容を活用いただき、サービスをご利用いただくことは可能です。また、その際に報酬も発生致します。そのため、まずはご自身で使えるサービスは使って見て、本当に良かったらお知り合いにご紹介いただくことをオススメしております。</li>
          </ul>
        </div>
        
        <div class="FAQ-item">
          <label for="Q2" class="Q-title">
            <div>Q.匿名でも使えますか？</div>
            <div><i class="fas fa-plus"></i></div>
          </label>
          <input type="checkbox" id="Q2">
          <ul class="A A2">
            <li>A.匿名でのご利用はご遠慮いただいています。</li>
          </ul>
        </div>
        
        <div class="FAQ-item">
          <label for="Q3" class="Q-title">
            <div>Q.未成年は使えますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q3">
          <ul class="A A3">
            <li>A.未成年のご利用はご遠慮いただいています。</li>
          </ul>
        </div>

        <div class="FAQ-item">
          <label for="Q4" class="Q-title">
            <div>Q.支払いの時に間に誰か入ってくれますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q4">
          <ul class="A A4">
            <li>A.報酬はパラキャリから支払われます。クライアント（掲載主）から口座に振り込まれることや、それによる金銭的トラブル等のリスクはございませんのでご安心ください。</li>
          </ul>
        </div>
    
        <div class="FAQ-item">
          <label for="Q5" class="Q-title">
            <div>Q.過去の報酬の支払い実績はありますか？どれくらい稼げますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q5">
          <ul class="A A5">
            <li>A.累計これまでに１００人以上の方にお支払いしています。中には月収で１００万円以上を達成された方も多くいらっしゃいます。</li>
          </ul>
        </div>
      </div>
      </section>

      <section class="reward parent">
      <div class="subtitle child">
        <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">報酬獲得までの流れ</div></div>
      </div>

      <div class="flex">

      <div class="stepOne">
      <p><span>step1</span></p>
      <h4>案件を確認する</h4>
      <div class="">
      <%= image_tag "stepone.jpg",class:"stepImage" %>
      </div>
        <p class="stepFooter">友人に紹介したい案件を見つけたら...</p>
      </div>

      <div class="arrow">
    </div>

      <div class="stepOne">
      <p><span>step2</span></p>
      <h4>知人に案件を紹介する</h4>
      <div class="">
      <%= image_tag "stepfour.jpg",class:"stepImage" %>
      </div>
        <p class="stepFooter">知人に口コミの許可をもらったら...</p>
      </div>

      <div class="arrow">
    </div>

    <div class="stepOne">
      <p><span>step3</span></p>
      <h4>知人の情報を口コミする</h4>
      <div class="">
      <%= image_tag "stepthree.jpg",class:"stepImage" %>
      </div>
        <p class="stepFooter">口コミした案件の契約が成功すれば...</p>
      </div>

      <div class="arrow">
    </div>

      <div class="stepOne">
      <p><span>step4</span></p>
      <h4>報酬発生！</h4>
      <div class="">
      <%= image_tag "stepsecond.jpg",class:"stepImage" %>
      </div>
        <p class="stepFooter"><a href="/posts/index">案件一覧を見る</a></p>
      </div>

      </div>



       
        <div class="reward-start">
          <%= link_to "無料ではじめる" ,"/users/sign_up",class: "btn-reward" %></div>
        </div>
      </section>

      <section class="Voices">
      <div class="parent">
        <div class="subtitle child">
          <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">報酬獲得者もぞくぞく！</div></div>
        </div>

         <div class="flexVoice">

      <div class="Voice">
  
      <div class="manPic">
      <%= image_tag "manpic.jpg",class:"VoiceImage" %>
      </div>
        <div class="VoiceFooter">
        <p class="comment">パラキャリは見込み顧客を紹介するだけであとは全て掲載主の方が行ってくれるので、忙しい私でも初月から１０万円以上稼ぐことができました。</p>
        <p class="feature">27歳 男性</p>
      </div>
      </div>


      <div class="Voice">
    
      <div class="">
      <%= image_tag "manpic2.jpg",class:"VoiceImage" %>
      </div>
        <div class="VoiceFooter">
        <p class="comment">パラキャリは見込み顧客を紹介するだけであとは全て掲載主の方が行ってくれるので、忙しい私でも初月から１０万円以上稼ぐことができました。</p>
        <p class="feature">27歳 男性</p>
      </div>
      </div>


    <div class="Voice">
 
      <div class="">
      <%= image_tag "manpic.jpg",class:"VoiceImage" %>
      </div>
      <div class="VoiceFooter">
        <p class="comment">パラキャリは見込み顧客を紹介するだけであとは全て掲載主の方が行ってくれるので、忙しい私でも初月から１０万円以上稼ぐことができました。</p>
        <p class="feature">27歳 男性</p>
      </div>

      </div>

     

      </section>
    </main>

    <%= render '/layouts/footer' %>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a5c533f20f.js" crossorigin="anonymous"></script>
    <script>
      var a = '.mpLRextendTrigger';
      if (a == '.mpLRextendTrigger') {
        b = 'mpLRextend';
        c = '.mpapperTrigger';
        d = 'mpapper'
      }

      function BgFadeAnime(){
          // 背景色が伸びて出現（左から右）
        $(a).each(function(){ //bgLRextendTriggerというクラス名が
          var elemPos = $(this).offset().top-50;//要素より、50px上の
          var scroll = $(window).scrollTop();
          var windowHeight = $(window).height();
          if (scroll >= elemPos - windowHeight){
            $(this).addClass(b);// 画面内に入ったらbgLRextendというクラス名を追記
          }else{
            $(this).removeClass(b);// 画面外に出たらbgLRextendというクラス名を外す
          }
        }); 

        // 文字列を囲う子要素
        $(c).each(function(){ //bgappearTriggerというクラス名が
          var elemPos = $(this).offset().top-50;//要素より、50px上の
          var scroll = $(window).scrollTop();
          var windowHeight = $(window).height();
          if (scroll >= elemPos - windowHeight){
            $(this).addClass(d);// 画面内に入ったらbgappearというクラス名を追記
          }else{
            $(this).removeClass(d);// 画面外に出たらbgappearというクラス名を外す
          }
        });   
      }
      $(window).scroll(function (){
        BgFadeAnime();
      });
    </script>
</body>