<!--以下をコピーして使用してください-->

  <body>
  <header>
  <p class="notice"><%= notice %></p>
  <%= render '/layouts/header' %>
  </header>


    <main class="top-page">
      <section class="bg-gradient-to-l from-red-400 to-yellow-500 ">
      <div class="mainWrap lg:flex">
      <div class="wide">
        <div class="wideBalance">
          <h1 class="mainMessege font-extrabold text-white mt-10 pt-24 pl-6 pb-3 sm:text-xl  lg:text-5xl lg:m-0 lg:pl-20 lg:pt-56 lg:pb-0 xl:pt-72">あなたの口コミが<span style="font-size:1.5em;"><ruby>複<rt>・</rt>業<rt>・</rt></ruby></span>になる</h1>
          <div class="subMessage-list">
            <ul class="subMessege list-none text-white font-bold pl-6 pb-20  lg:pb-36 lg:text-2xl lg:pl-20 lg:pt-12 xl:pb-48">
              <li class="subMessege1 lg:text-2xl text-xs"> 営業一切不要！</li>
              <li class="subMessege2 lg:text-2xl text-xs"> 口コミで見込み客の紹介、あとは丸投げでOK！</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
      </section>
      <section class="yourWorries bg-white mb-16">
        <h1 class="rUworries text-yellow-500 text-center lg:font-light font-bold text-2xl lg:text-4xl lg:pt-28 py-8">こんなお悩みありませんか？</h1>
        <div class="worriesWrap">
          <div class="pictureWorries">

          <%= image_tag "Questions-amico.png" ,class:"pictureWorries " %>

          </div>
          <div class='arrow_box'>
            <ul class="specificWorries text-yellow-500 lg:font-light font-normal lg:text-2xl  lg:ml-16 lg:pt-8 negative-word">
              <li class="specificWorries1 text-shadow-md negative-word">ネットで稼ぎたいけど</li>
              <li class="specificWorries2 lg:mb-8 lg:ml-20 mb-3 negative-word">特にスキルは持ってないし...</li>
              <li class="specificWorries3 negative-word">あまり時間はかけられないので、</li>
              <li class="specificWorries4 lg:mb-8 lg:ml-20 mb-3 negative-word">手軽にできるものがいいけど...</li>
              <li class="specificWorries5 negative-word">副業で稼ぎたいけど、</li>
              <li class="specificWorries6 lg:ml-20 negative-word">リスクはあまりかけたくない...</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="solution bg-white mb-20">
        <div class="solutionPicture lg:mr-auto lg:ml-auto lg:w-40 w-20 m-auto pb-10">

         <div class="arrow1">
        </div>

        </div>
        <h1 class="solutionWord mb-5 text-yellow-500 text-center lg:font-light font-bold text-xl lg:text-2xl lg:text-4xl lg:mb-0 lg:mt-24">そのお悩み、パラキャリで解決できます！</h1>
        <div class="solutionWrap lg:flex justify-center lg:mt-20 lg:mb-14 text-gray-700">
          <div class="solution1 lg:border lg:shadow-md h-60 lg:w-80 lg:h-80 lg:rounded-3xl p-6 leading-7">

            <h1 class="solutionTitle1 text-2xl lg:text-2xl text-center font-bold pb-3 pt-4 main-solution">費用は一切不要！</h1>
            <p class="solutionContent mb-10 detail-text">案件紹介サービスは顧客側が課金して成果が発生するものがほとんどですが、パラキャリでは<span class="solutionSpan text-red-500" style="font-size: 1.2em;">金銭的なリスク</span>がなく利用できる案件も多数取り扱っているため、気軽に紹介できます。</p>
            <hr class="mt-10 lg:hidden" width="100%">
          </div>
          <div class="solution2 mt-40 lg:border lg:shadow-md h-60 lg:w-80 lg:h-80 lg:rounded-3xl lg:mt-0 lg:ml-12 lg:mr-12 p-6 leading-7">

            <h1 class="solutionTitle2 text-3xl lg:text-2xl text-center font-bold lg:whitespace-nowrap pb-3 pt-4 main-solution">高報酬案件を厳選</h1>
            <p class="detail-text"><span class="solutionSpan text-red-500" style="font-size: 1.2em;">90%以上</span>の案件が紹介報酬単価、<span class="solutionSpan text-red-500" style="font-size: 1.2em;">3万円以上</span>のものを扱っています。そのため、どのサービスを紹介しても高報酬をゲットできます。</p>
            <hr class="mt-10 lg:hidden" width="100%">
          </div>
          <div class="solution3 mt-36 lg:border lg:shadow-md h-72 lg:w-80 lg:h-80 lg:rounded-3xl lg:mt-0 p-6 leading-7">

            <h1 class="solutionTitle3 text-2xl text-center font-bold pb-3 main-solution">いきなり紹介！<br>いきなり報酬獲得が可能！</h1>
            <p class="detail-text">通常、企業に紹介をして紹介料を受け取る場合、業務委託契約を結ぶ必要があったり、色々と手続きが面倒なことが多いのですが、パラキャリをご利用いただく方は、そういった手続き・契約の<span class="solutionSpan text-red-500" style="font-size: 1.2em;">やりとりは一切不要！</span>好きなタイミングで好きな時に紹介して報酬をゲットできちゃいます！</p>
          </div>
        </div>
        <div id="pcStyle" class="hidden lg:block text-center ">
          <h2 class="otherMerit text-yellow-500 font-light lg:text-3xl lg:pb-3">ほかにもメリットがたくさん！</h2>
        </div>
    
      </section>

      <section class="smartphoneOnly">
      <div class="smartphoneContents">
        <div class="herf-left">
          <h1>スマホ一台で始められる！</h1>
          <p>アフィリエイトをするためのメディア、サイトの登録の登録が一切不要です。必要事項を登録すれば、２分ですぐに登録できるのでスマホ一台で簡単に始められます！</p>
        </div>
        <div class="herf-right">
          <div class="picture">
          <%= image_tag "Phone customization-bro.png" ,class:"pictureIphone" %>
          </div>
        </div>
      </div>
      </section>

      <section class="noRisk bg-yellow-50 mb-20 pb-12">
        <div class="noRiskWrap lg:flex lg:w-7/12 lg:m-auto">

          <div class="noRiskPicture2 lg:w-80 lg:h-80 lg:block hidden   m-auto">

          <%= image_tag "Young and happy-bro (1).png" ,class:"noRiskPicture2" %>

          </div>
          <div class="noRiskPosition lg:w-6/12 pt-10">
            <h1 class="zeroRisk text-yellow-500 lg:text-2xl lg:block hidden font-bold text-center pb-3">ノーリスクでOK!</h1>

            <div class="noRiskMessage 2xl:w-6/12 xl:w-10/12 lg:m-auto w-10/12 m-auto leading-loose lg:pb-0 pb-10  font-normal text-gray-600">
            案件紹介サービスは顧客側が課金して成果が発生するものがほとんどですが、パラキャリでは金銭的なリスクがなく利用できる案件も多数取り扱っているため、気軽に紹介できます。また案件掲載主は全て法人に限定しているので、報酬支払いも安心！
            </div>
          </div>

          <div class="noRiskPicture1 lg:w-80 lg:h-80 lg:block hidden   m-auto">

          <%= image_tag "Young and happy-bro (1).png" ,class:"noRiskPicture1" %>

          </div>

        
          
        </div>
      </section>
      
      <section class="Items-list">
      <div class="Items">
        <div class="Item">
            <div class="Item-top">
              <i class="fas fa-hand-holding-heart"></i>
              <p class="Item-title">転職先企業紹介＆転職サポート</p><div class="border"></div>
            </div>
            <div class="Item-bottom">
              <p class="Item-reward">報酬：紹介料の20%</p>
              <p class="Item-content">転職もしくは就職をしたい方をご紹介ください。現在フリーター・無職の方でもOKです。</p>
            </div>
        </div>
        <div class="Item">
            <div class="Item-top">
              <i class="fas fa-coins"></i>
              <p class="Item-title">補助金・助成金の申請サポート</p><div class="border"></div>
            </div>
            <div class="Item-bottom">
              <p class="Item-reward">報酬：申請サポート手数料の20%</p>
              <p class="Item-content">補助金・助成金の申請のサポートをさせていただける方を紹介してください。</p>
            </div>
        </div>
        <div class="Item">
            <div class="Item-top">
              <i class="fas fa-building"></i>
              <p class="Item-title">賃貸物件紹介</p><div class="border"></div>
            </div>
            <div class="Item-bottom">
              <p class="Item-reward">報酬：家賃の50%</p>
              <p class="Item-content">引越しする方をご紹介ください。 ネットに載ってる物件や未公開物件を安くご案内します。</p>
            </div>
        </div>
        <div class="Item">
            <div class="Item-top">
              <i class="far fa-file-alt"></i>
              <p class="Item-title">火災保険申請サポート</p><div class="border"></div>
            </div>
            <div class="Item-bottom">
              <p class="Item-reward">報酬：約10万円/件</p>
              <p class="Item-content">プロによる物件の無料調査を受けたいお客様をご紹介ください。</p>
            </div>
        </div>
        
      </div>
      <div class="SeeMore">
        <%= link_to "案件をもっとみる", "/posts/index" , class: "btn-more" %></div>
      </div>
      </section>

      <section id="RewardWrap" class="text-gray-700">
        <h1 id="RewardFlow" class="text-yellow-500 lg:font-light font-bold lg:text-4xl text-2xl text-center lg:pt-20 pb-5 ">報酬獲得までの流れ</h1>
       <div class="chart">
          <ol class="progress-bar">
            <li class="is-active"><span>step1.会員登録</span></li>  
            <li class="is-active"><span>step2.知人に案件紹介</span></li>  
            <li class="is-active"><span>step3.口コミ！</span></li>
            <li class="is-active"><span>step4.報酬発生！</span></li>  
          </ol>
        </div>
        <div id="FlowchartWrap" class="lg:flex justify-center lg lg:mb-8">
          <div id="Step1" class="border lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72  m-auto  rounded-3xl lg:mb-10">
            <h1 id="Step1Title" class="text-center font-bold pt-5">STEP.1　会員登録</h1>
            <div id="Step1Content" class="w-11/12  m-auto lg:pb-0 pb-8">
                <p>会員登録して紹介したい案件を見つける。
                 ※その際にパラキャリ公式LINEにも登録！</p>
            </div>
          </div>
          <div class="arrow1">
          </div>
          <div id="Step2" class="border lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72 m-auto rounded-3xl lg:ml-12 lg:mr-6">
              <h1 id="Step2Title" class="text-center font-bold pt-5">STEP.2　知人に案件紹介</h1>
            <div id="Step2Content" class="w-11/12 m-auto lg:pb-0 pb-8">
              <p>知人や友人に紹介。知人が詳細をご希望されたら掲載主から連絡が入ると伝える</p>
            </div>
          </div>
          <div class="arrow1">
          </div>
          <div id="Step3" class="border lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72 m-auto rounded-3xl lg:ml-6 lg:mr-12">
            <h1 id="Step3Title" class="text-center font-bold pt-5">STEP.3　情報入力</h1>
            <div id="Step3Content" class="w-11/12 m-auto lg:pb-0 pb-8">
              <p>パラキャリに顧客口コミ情報(お名前、電話番号、口コミ内容)を入力</p>
            </div>
          </div>
          <div class="arrow1">
          </div>
          <div id="Step4" class="border lg:shadow-md lg:w-64 lg:h-36 lg:m-0 w-72 m-auto  rounded-3xl">
            <h1 id="Step4Title" class="text-center font-bold pt-5">STEP.4　報酬発生</h1>
            <div id="Step4Content" class="w-11/12 m-auto lg:pb-0 pb-8">
              <p>掲載主から紹介先に連絡が入り、契約になれば報酬発生！</p>
            </div>
          </div>
        </div>
      </section>
      
      <section>
      <div class="subtitle">FAQ</div>
      <div class="FAQ">
        
        <div class="FAQ-item">
          <label for="Q1" class="Q-title">
            <div>Q.自分の案件でも報酬は発生しますか？</div>
            <div><i class="fas fa-plus"></i></div>
          </label>
          <input type="checkbox" id="Q1">
          <ul class="A A1">
            <li>A.ご自身で案件の内容を活用いただき、サービスをご利用いただくことは可能です。また、その際に報酬も発生致します。そのため、まずはご自身で使えるサービスは使って見て、本当に良かったらお知り合いにご紹介いただくことをオススメしております。</li>
          </ul>
        </div>
        
        <div class="FAQ-item">
          <label for="Q2" class="Q-title">
            <div>Q.匿名でも使えますか？</div>
            <div><i class="fas fa-plus"></i></div>
          </label>
          <input type="checkbox" id="Q2">
          <ul class="A A2">
            <li>A.匿名でのご利用はご遠慮いただいています。</li>
          </ul>
        </div>
        
        <div class="FAQ-item">
          <label for="Q3" class="Q-title">
            <div>Q.未成年は使えますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q3">
          <ul class="A A3">
            <li>A.未成年のご利用はご遠慮いただいています。</li>
          </ul>
        </div>

        <div class="FAQ-item">
          <label for="Q4" class="Q-title">
            <div>Q.支払いの時に間に誰か入ってくれますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q4">
          <ul class="A A4">
            <li>A.報酬はパラキャリから支払われます。クライアント（掲載主）から口座に振り込まれることや、それによる金銭的トラブル等のリスクはございませんのでご安心ください。</li>
          </ul>
        </div>
    
        <div class="FAQ-item">
          <label for="Q5" class="Q-title">
            <div>Q.過去の報酬の支払い実績はありますか？どれくらい稼げますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q5">
          <ul class="A A5">
            <li>A.累計これまでに１００人以上の方にお支払いしています。中には月収で１００万円以上を達成された方も多くいらっしゃいます。</li>
          </ul>
        </div>
      </div>
      </section>

      <section>
      <div class="subtitle">ユーザーの声</div>
      <div class="Voices">
        <div class="Voice">
          <div class="Voice-user">
            <img src="../../assets/woman-second.png" class="Voice-img">
            <div class="user-info">34歳 女性</div>
          </div>
          <div class="user-comment"><div>コロナでパートの収入が減って外出もできない中で不安な毎日でしたが、パラキャリで副業することで<span>金銭的な余裕</span>が生まれました。今ではパートを卒業して、パラキャリだけで自宅にいながら収入を得ることができるので、子供との時間を今まで以上にとることができて心にも余裕が生まれました。</div></div>
        </div>
        <div class="Voice-border"></div>
        <div class="Voice">
          <div class="Voice-user">
            <img src="../../assets/man-second.png" class="Voice-img">
            <div class="user-info">62歳 男性</div>
          </div>
          <div class="user-comment"><div>セカンドライフを見据えてもう少し収入を増やしたいと思ってましたが、特別な技術もパソコンスキルもなく副業は難しいと思っておりました。ただパラキャリはそんな私でも凄く<span>簡単に</span>使えました。困っている知人を紹介するだけで感謝もされるし収入もしっかりと稼げるので遣り甲斐を感じております。</div></div>
        </div>
        <div class="Voice-border"></div>
        <div class="Voice">
          <div class="Voice-user">
            <img src="../../assets/man-first.png" class="Voice-img">
            <div class="user-info">27歳 男性</div>
          </div>
          <div class="user-comment"><div>同僚に教えてもらってパラキャリに登録しました。この不安定な世の中、会社の収入だけに頼るのはリスクだと思い、今までに様々な副業に挑戦しました。ただ会社の仕事はかなりハードで、ヘトヘトで家に帰ってから副業をするのはとても大変で結局今まで１円も稼ぐことができませんでした。しかしこのサイトはお客様への説明などの手間のかかることは不要で、見込み顧客を紹介するだけであとは全て掲載主の方が行ってくれるので、忙しい私でも<span>初月から１０万円以上</span>稼ぐことができました。</div></div>
        </div>
      </div>
      </section>

      <section id="JoinFree" class="bg-blue-100 mt-10 mb-10">
        <div id="MemberWrap" class="lg:py-16 py-8">
          <%= link_to "無料会員登録はこちら" ,"/users/sign_up",class: 'registerFor' %>
        </div>
      </section>
    </main>

    <%= render '/layouts/footer' %>
    <script src="https://kit.fontawesome.com/a5c533f20f.js" crossorigin="anonymous"></script>
</body>
