<!--以下をコピーして使用してください-->
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
  <header>
  <p class="notice"><%= notice %></p>
  <%= render '/layouts/header' %>
  </header>

  <section class="top-bg">
  </section>

    <main class="top-page">

    <section class="merit">
      <div class="merit-phrase">
        <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">パラキャリだから続けられる</div></div>
      </div>
      <div class="merit-items">
        <div class="merit-item">
        <h3>コスト0</h3>
        <p>案件紹介サービスは顧客側が課金して成果が発生するものがほとんどですが、パラキャリでは金銭的なリスクがない案件も多数取り扱っているため、気軽に紹介できます。</p>
        </div>
        <div class="merit-item move">
          <h3>面倒な手続き不要</h3>
          <p>企業に紹介をして紹介料を受け取る場合、業務委託契約を結ぶ必要がありますが、そういった手続き・契約のやりとりは一切不要。
            好きなタイミングで好きな時に紹介して報酬をゲットできます。</p>
        </div>
      
        <div class="merit-item">
          <h3>高報酬の案件が多数</h3>
          <p>副業月収10万円以上を達成した方100名突破。9割以上が紹介報酬単価3万円以上の案件です。</p>
        </div>
        
        <div class="merit-item move">
          <h3>スマホで簡単</h3>
          <p>アフィリエイトをするためのメディア、サイトの登録も不要。必要事項を登録すれば、2分で簡単に始められます。</p>
        </div>
      </div>
    </section>

    <section class="Items-list">
    <div class="Items">
      <div class="Item">
          <div class="Item-top">
            <i class="fas fa-hand-holding-heart"></i>
            <p class="Item-title">転職先企業紹介＆転職サポート</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：紹介料の20%</p>
            <p class="Item-content">転職もしくは就職をしたい方をご紹介ください。現在フリーター・無職の方でもOKです。</p>
          </div>
      </div>
      <div class="Item">
          <div class="Item-top">
            <i class="fas fa-coins"></i>
            <p class="Item-title">補助金・助成金の申請サポート</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：申請サポート手数料の20%</p>
            <p class="Item-content">補助金・助成金の申請のサポートをさせていただける方を紹介してください。</p>
          </div>
      </div>
      <div class="Item">
          <div class="Item-top">
            <i class="fas fa-building"></i>
            <p class="Item-title">賃貸物件紹介</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：家賃の50%</p>
            <p class="Item-content">引越しする方をご紹介ください。 ネットに載ってる物件や未公開物件を安くご案内します。</p>
          </div>
      </div>
      <div class="Item">
          <div class="Item-top">
            <i class="far fa-file-alt"></i>
            <p class="Item-title">火災保険申請サポート</p><div class="border"></div>
          </div>
          <div class="Item-bottom">
            <p class="Item-reward">報酬：約10万円/件</p>
            <p class="Item-content">プロによる物件の無料調査を受けたいお客様をご紹介ください。</p>
          </div>
      </div>
    </div>
    
    <div class="SeeMore">
      <%= link_to "案件をもっとみる", "/posts/index" , class: "btn-more" %></div>
    </div>
    </section>
      <section class="reward parent">
      <div class="subtitle child">
        <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">報酬獲得までの流れ</div></div>
      </div>
        <div class="reward-flow">
          <div class="step-nums">
            <div class="step-num">1</div>
            <p class="reward-border"></p>
            <div class="step-num">2</div>
            <p class="reward-border"></p>
            <div class="step-num">3</div>
            <p class="reward-border"></p>
            <div class="step-num">4</div>
          </div>

          <div class="step-items">
            <div class="step-item">
              <div class="step-title">会員登録</div>
              <div class="step-content">
                会員登録後、紹介したい案件を見つけます。
                （その際、パラキャリ公式LINEにも登録）
              </div>
            </div>
            <div class="step-item">
              <div class="step-title">知人に紹介</div>
              <div class="step-content">
              知人や友人に紹介します。知人が詳細をご希望されたら「掲載主から連絡が入る」と伝えます。
              </div>
            </div>
            <div class="step-item">
              <div class="step-title">入力作業</div>
              <div class="step-content">
              パラキャリに顧客情報を入力します。
              </div>
            </div>
            <div class="step-item">
              <div class="step-title">報酬発生</div>
              <div class="step-content">
              掲載主から紹介先に連絡が入り、契約になれば報酬発生します。
              </div>
            </div>
          </div>
        </div>
        <div class="reward-start">
          <%= link_to "無料ではじめる" ,"/users/sign_up",class: "btn-reward" %></div>
        </div>
      </section>
      
      <section class="FAQ parent">
      <div class="subtitle child">
        <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">FAQ</div></div>
      </div>
      <div class="FAQ-items">
        
        <div class="FAQ-item">
          <label for="Q1" class="Q-title">
            <div>Q.自分の案件でも報酬は発生しますか？</div>
            <div><i class="fas fa-plus"></i></div>
          </label>
          <input type="checkbox" id="Q1">
          <ul class="A A1">
            <li>A.ご自身で案件の内容を活用いただき、サービスをご利用いただくことは可能です。また、その際に報酬も発生致します。そのため、まずはご自身で使えるサービスは使って見て、本当に良かったらお知り合いにご紹介いただくことをオススメしております。</li>
          </ul>
        </div>
        
        <div class="FAQ-item">
          <label for="Q2" class="Q-title">
            <div>Q.匿名でも使えますか？</div>
            <div><i class="fas fa-plus"></i></div>
          </label>
          <input type="checkbox" id="Q2">
          <ul class="A A2">
            <li>A.匿名でのご利用はご遠慮いただいています。</li>
          </ul>
        </div>
        
        <div class="FAQ-item">
          <label for="Q3" class="Q-title">
            <div>Q.未成年は使えますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q3">
          <ul class="A A3">
            <li>A.未成年のご利用はご遠慮いただいています。</li>
          </ul>
        </div>

        <div class="FAQ-item">
          <label for="Q4" class="Q-title">
            <div>Q.支払いの時に間に誰か入ってくれますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q4">
          <ul class="A A4">
            <li>A.報酬はパラキャリから支払われます。クライアント（掲載主）から口座に振り込まれることや、それによる金銭的トラブル等のリスクはございませんのでご安心ください。</li>
          </ul>
        </div>
    
        <div class="FAQ-item">
          <label for="Q5" class="Q-title">
            <div>Q.過去の報酬の支払い実績はありますか？どれくらい稼げますか？</div>
            <i class="fas fa-plus"></i>
          </label>
          <input type="checkbox" id="Q5">
          <ul class="A A5">
            <li>A.累計これまでに１００人以上の方にお支払いしています。中には月収で１００万円以上を達成された方も多くいらっしゃいます。</li>
          </ul>
        </div>
      </div>
      </section>

      <section>
      <div class="parent">
        <div class="subtitle child">
          <div class="mpextend mpLRextendTrigger"><div class="mpapperTrigger">ユーザーの声</div></div>
        </div>
      </div>

      <div class="Voices">
        <div class="Voice">
          <div class="Voice-user">
            <img src="../../assets/woman-second.png" class="Voice-img">
            <div class="user-info">34歳 女性</div>
          </div>
          <div class="user-comment"><div>コロナでパートの収入が減って外出もできない中で不安な毎日でしたが、パラキャリで副業することで<span>金銭的な余裕</span>が生まれました。今ではパートを卒業して、パラキャリだけで自宅にいながら収入を得ることができるので、子供との時間を今まで以上にとることができて心にも余裕が生まれました。</div></div>
        </div>
        <div class="Voice-border"></div>
        <div class="Voice">
          <div class="Voice-user">
            <img src="../../assets/man-second.png" class="Voice-img">
            <div class="user-info">62歳 男性</div>
          </div>
          <div class="user-comment"><div>セカンドライフを見据えてもう少し収入を増やしたいと思ってましたが、特別な技術もパソコンスキルもなく副業は難しいと思っておりました。ただパラキャリはそんな私でも凄く<span>簡単に</span>使えました。困っている知人を紹介するだけで感謝もされるし収入もしっかりと稼げるので遣り甲斐を感じております。</div></div>
        </div>
        <div class="Voice-border"></div>
        <div class="Voice">
          <div class="Voice-user">
            <img src="../../assets/man-first.png" class="Voice-img">
            <div class="user-info">27歳 男性</div>
          </div>
          <div class="user-comment"><div>同僚に教えてもらってパラキャリに登録しました。この不安定な世の中、会社の収入だけに頼るのはリスクだと思い、今までに様々な副業に挑戦しました。ただ会社の仕事はかなりハードで、ヘトヘトで家に帰ってから副業をするのはとても大変で結局今まで１円も稼ぐことができませんでした。しかしこのサイトはお客様への説明などの手間のかかることは不要で、見込み顧客を紹介するだけであとは全て掲載主の方が行ってくれるので、忙しい私でも<span>初月から１０万円以上</span>稼ぐことができました。</div></div>
        </div>
      </div>

      </section>
    </main>

    <%= render '/layouts/footer' %>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a5c533f20f.js" crossorigin="anonymous"></script>
    # <script>
    #   var a = '.mpLRextendTrigger';
    #   if (a == '.mpLRextendTrigger') {
    #     b = 'mpLRextend';
    #     c = '.mpapperTrigger';
    #     d = 'mpapper'
    #   }

    #   function BgFadeAnime(){
    #       // 背景色が伸びて出現（左から右）
    #     $(a).each(function(){ //bgLRextendTriggerというクラス名が
    #       var elemPos = $(this).offset().top-50;//要素より、50px上の
    #       var scroll = $(window).scrollTop();
    #       var windowHeight = $(window).height();
    #       if (scroll >= elemPos - windowHeight){
    #         $(this).addClass(b);// 画面内に入ったらbgLRextendというクラス名を追記
    #       }else{
    #         $(this).removeClass(b);// 画面外に出たらbgLRextendというクラス名を外す
    #       }
    #     }); 

    #     // 文字列を囲う子要素
    #     $(c).each(function(){ //bgappearTriggerというクラス名が
    #       var elemPos = $(this).offset().top-50;//要素より、50px上の
    #       var scroll = $(window).scrollTop();
    #       var windowHeight = $(window).height();
    #       if (scroll >= elemPos - windowHeight){
    #         $(this).addClass(d);// 画面内に入ったらbgappearというクラス名を追記
    #       }else{
    #         $(this).removeClass(d);// 画面外に出たらbgappearというクラス名を外す
    #       }
    #     });   
    #   }
    #   $(window).scroll(function (){
    #     BgFadeAnime();
    #   });
    # </script>
</body>