<body class="userEdit">
 <%= render '/layouts/header' %>
<div class="editWrap">

      <%= render 'editside' %>

      <div class="mainEdit">
        <div class="edit-page fs-4">
              <div class="formEdit">
          <%= form_with(url: {controller: 'users', action: 'basicedit' }) do |f| %>
                <p class="alert"><%= alert %></p>
             
             <h1 id="bankEdit ">基本情報</h1>

                  <div class="formSetEdit mt-5">
                    <div class="text-left">お名前 <span>（必須）</span></div>
                    <%= f.text_field :name, placeholder: '  原　キャリー',value:  current_user.name %>
                  </div>

                  <div class="formSetEdit">
                      <div class="text-left">電話番号 <span>（必須）</span></div>
                      <%= f.text_field :tel, autofocus: true, placeholder: '  09012345678',value:  current_user.tel %>
                  </div>

                <div class="formSetEdit">
                  <div class="text-left">Eメール <span>（必須）</span></div>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",value:  current_user.email %>
                </div>

                <div class="formSetEdit">
                  <div class="text-left">経歴（任意）</div>
                  <%= f.text_area :career, autofocus: true, autocomplete: "email",size: "40x10",value:  current_user.career %>
                </div>

                <div class="formSetEdit">
                  <div class="text-left">自己PR（任意）</div>
                  <%= f.text_area :appeal, autofocus: true, autocomplete: "email",size: "40x10",value:  current_user.appeal %>
                </div>

                <div class=" text-center">掲載主からのスカウトを許可しますか？<%= f.check_box :scout,:as => :boolean ,checked:  current_user.scout %></div>

                <div class="formSetEdit">
                    <%= f.submit "基本情報を更新する",class:"button",data: { confirm: '更新しますか？' } %>
                </div>
                  
              <% end %>

              </div>
              </div>
      </div>
</div>
</body>