
<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
    <div class="mainHeader">
    <ul>
    <% if provider_signed_in? %>
      <li class=""><span><%= link_to '事業者ログアウト' , destroy_provider_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' } %></span></li> 
      <li><%= current_provider.email %></li>
      <% else %>
      <li class=""><span>ログアウト</span></li> 
      <li>管理者名</li>
    
      <% end %>

    </ul>
    </div>
    
        
    <div class="userIndex">
      <h3 class="text-center">ユーザー情報</h3>

        <table class="table userTable">
        <tr class="heading"><th class="border border-black">名前</th><th class="border border-black">メールアドレス</th><th class="border border-black">電話番号</th><th class="border border-black">口座情報(銀行名/支店/口座種類/口座番号)</th><th class="border border-black">紹介者</th><th class="border border-black">紹介者アドレス</th></tr>
        <% @users.each do |user| %> 
        <tr class="border  text-center">
          <td class="border border-black"><%= user.username %></td>
          <td class="border border-black"><%= user.email %></td>
          <td class="border border-black"><%= user.phonenumber %></td>
          <% if user.bank == nil %>
          <td class="border border-black"></td>
          <% else %>
          <td class="border border-black"><%= user.bank %>/<%= user.branch %>/<%= user.kinds %>/<%= user.banknumber %></td>
          <% end %>
          <td class="border border-black"></td> 
          <td class="border border-black"></td>
        </tr>
        <% end %>
        
        </table>
      </div>

  </div>
</body>