

<div class="provider-index">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="users">
    
        <h1 class="text-center font-bold text-2xl p-6">ユーザー管理表</h1>
        <table id="users-table" class="table">
        <tr class="border"><th class="border border-black">名前</th><th class="border border-black">メールアドレス</th><th class="border border-black">電話番号</th><th class="border border-black">口座情報(銀行名/支店/口座種類/口座番号)</th><th class="border border-black">紹介者</th><th class="border border-black">紹介者アドレス</th></tr>
        <% @users.each do |user| %> 
        <tr class="border  text-center">
          <td class="border border-black"><%= user.username %></td>
          <td class="border border-black"><%= user.email %></td>
          <td class="border border-black"><%= user.phonenumber %></td>
          <td class="border border-black"><%= user.bank %>/<%= user.branch %>/<%= user.kinds %>/<%= user.banknumber %></td>
          <td class="border border-black"><%= @users.find_by(affiliater_id: user.referrer_id)&.username %></td> 
          <td class="border border-black"><%= @users.find_by(affiliater_id: user.referrer_id)&.email  %></td>
        </tr>
        <% end %>
        
        </table>

  </div>
</div>