<body class="devise">
<div class="login-page">
  <div class="formRegistration">
  <p class="alert"><%= alert %></p>
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <h2>事業者登録</h2>


<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "providers/shared/error_messages", resource: resource %>
  <%= f.hidden_field :invitation_token, readonly: true %>

  <div class="formSet">
    <%= f.label :名前 %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="formSet">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="formSet">
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="formSet">
    <%= f.label :パスワードのご確認 %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="formSet">
    <%= f.submit "登録する",class:"button" %>
  </div>
  
<%= render "providers/shared/links" %>
<% end %>



 
  </div>
</div>
</body>





