<p><%= @current_user.username %>様より口コミが来ました</p>

<p>口コミ内容</p>

<p>■案件名 ：<%= @work.title %></p>
<p>■お客様名 ：<%= @introduction.name %>様</p>
<p>■お客様電話番号 ：<%= @introduction.phonenumber %></p>
<p>■内容 ：<%= @introduction.contents %></p>