<%= render '/layouts/header' %>


<div class="provider-index">
<div class="side">
  <%= render '/providers/side' %>
</div>



<div class="providers">
<table>
  <thead>
    <tr>
      <th>タイトル一覧</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= link_to '詳細', news %></td>
        <td><%= link_to '編集', edit_news_path(news) %></td>
        <td><%= link_to '削除', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'お知らせを作成する', new_news_path %>

</div>
</div>