



<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
    <div class="mainHeader">
    <ul>
    <% if provider_signed_in? %>
      <li class=""><span><%= link_to '事業者ログアウト' , destroy_provider_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' } %></span></li> 
      <li><%= current_provider.email %></li>
      <% else %>
      <li class=""><span>ログアウト</span></li> 
      <li>管理者名</li>
    
      <% end %>

    </ul>
    </div>
    
        
    <div class="userIndex">
      <h3 class="text-center">お知らせ</h3>
      <div class="providerTable">
      <a href="news/new" class="toNew">＋ 新規作成</a>
      <div class="search-form">
        <%= search_form_for @q, url: news_index_path do |f| %>
            <%= f.label :title, "キーワード" %>
            <%= f.search_field :title_cont %>

            <%= f.submit "検索" %>
        <% end %>
      </div>

        <table class="table userTable">
          <thead class="heading">
            <tr>
              <th>タイトル</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @news.each do |news| %>
              <tr>
                <td><%= news.title %></td>
                <td><%= link_to '詳細', news,class:"morebtn" %></td>
                <td><%= link_to '編集', edit_news_path(news),class:"editbtn" %></td>
                <td><%= link_to '削除', news, method: :delete,class:"deletebtn", data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center pagenation">
        <%= paginate @news %>
        </div>
        </div>
      </div>

  </div>
</body>