<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
    
  <%= render '/works/side_header' %>
    
        
    <div class="userIndex">
      <h3 class="text-center">お知らせ</h3>
      <div class="providerTable ">
     

      
        <% if provider_signed_in? %>

          <div class="provider-index">
         

          <div class="providers text-center">
          <p>
            <strong><%= @news.title %></strong>
            
          </p>

          <p>
            <%= auto_link(simple_format(@news.content), html: {target: '_blank'}) %>
          </p>
          </div>
          <div>
                <button type="button" class="btn btn-primary toNew" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
           編集する
        </button>
        </div>

        <!-- Modal -->
        <div class="modal w-75 m-auto" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title h4" id="staticBackdropLabel">新規お知らせ作成</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

              <%= form_with(model: @news, local: true) do |form| %>
              <% if @news.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

                  <ul>
                    <% @news.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="w-75 m-auto mb-4 mt-2">
                <%= form.label :タイトル,class:"h4" %>
                <%= form.text_field :title,class:"form-control",id:"exampleFormControlInput1" %>
              </div>

              <div class="w-75 m-auto mb-4">
                <%= form.label :内容,class:"h4" %>
                <%= form.text_area :content,class:"form-control ",id:"exampleFormControlTextarea1", size: "20x10" %>
                
              </div>

                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <%= form.submit "更新する",data: { confirm: '更新しますか？'},class:"btn btn-primary" %>    
                <% end %>
              </div>
            </div>
          </div>
        </div>


          <% elsif user_signed_in? %>

          <div class="text-center">
          <p>
            <strong>タイトル:</strong>
            <%= @news.title %>
          </p>

          <p>
            <%= auto_link(simple_format(@news.content), html: {target: '_blank'}) %>
          </p>
          </div>

          <% end %>
        </div>
      </div>

  </div>
</body>






