<%= render '/layouts/header' %>
<h1>口コミ内容確認画面</h1>

<div>
	<div>お客様名</div>
	<div><%= @introduction.name %></div>
	<div>お客様電話番号</div>
	<div><%= @introduction.phonenumber %></div>
	<div>口コミ内容</div>
	<div><%= @introduction.contents %></div>
</div>


<%= form_with(model: [@provider, @introduction], local: true) do |form| %>
 

  <div class="field">
    <%= form.label :お客様名 %>
    <%= form.hidden_field :name %>
  </div>

  <div class="field">
    <%= form.label :お客様電話番号 %>
    <%= form.hidden_field :phonenumber %>
  </div>

  <div class="field">
    <%= form.label :口コミ内容 %>
    <%= form.hidden_field :contents %>
  </div>

  
  <div class="actions">
    <%= form.submit '口コミ内容送信' %>
  </div>
<% end %>