
<body class="introduction-new">
<%= render '/layouts/header' %>
  <div class="sign-up-main ">
  <p class="alert"><%= alert %></p>

<h2>口コミをする</h2>
  
<%= form_with(model: [@work, @introduction], local: true ) do |form| %>
  <div class="workTitle">
  案件名: <%= @work.title %>
  </div>
<form>      
  <%= form.text_field :name,class: 'form' , :autocomplete => "off",:class => "feedback-input" , :placeholder => "紹介するお客様名"  %>
  <%= form.text_field :phonenumber,class: 'form'  , :autocomplete => "off",:class => "feedback-input" ,:placeholder => "紹介するお客様電話番号" %>
  <%= form.text_area :contents,class: 'form' , :autocomplete => "off",:class => "feedback-input" ,:placeholder => "口コミ内容" %>
  <%= form.submit '口コミする',data: { confirm: '口コミを送信しますか？' },class: 'submit' %>
</form>
<% end %>
</body>
  