


<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
  
  <%= render '/works/side_header' %>
      
        
    <div class="userIndex">
     
      <div class="providerTable text-center">
      <div>
        <%= form_with(model: [@introduction], local: true ) do |form| %>
            
          <div class="field text-right h5">
              
              
                <%= form.select :step, [['口コミ確認完了'], ['お客様と繋がりませんでした'], ['断られました'], ['検討中'], ['進行中'], ['契約成立'], ['報酬振込完了']] %>
              

            
            <%= form.submit '進捗更新',data: { confirm: '更新しますか？' },class: 'submit' %>
  

          
        <% end %>
      </div>
       <h1 class="text-center mb-5">口コミ内容</h1>

      <table class="table w-75 m-auto">
      
        
      <tr class="border font-bold w-75 m-auto">
        <td class="border border-black  py-3">案件名</td>
        <td class="border border-black text-center"><%= @introduction.work.title %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">紹介者</td>
        <td class="border border-black"><%= @introduction.user.name %>様</td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミされた方</td>
        <td class="border border-black"><%= @introduction.name %>様</td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミされた方の電話番号</td>
        <td class="border border-black"><%= @introduction.phonenumber %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">紹介者の口座情報(銀行名/支店/口座種類/口座番号)</td>
        <td class="border border-black"><%= @introduction.user.bank %>/<%= @introduction.user.branch %>/<%= @introduction.user.account_type %>/<%= @introduction.user.account_no %></td>
      </tr>
      
      
      <tr class="border">
        <td class="border border-black text-center py-3">口コミの確認</td>
        <td class="border border-black">
        <% if @introduction.permission == true %>
          とっている
          <% elsif @introduction.permission == false %>
          とっていない
          <% end %>
        </td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミ内容</td>
        <td class="border border-black"><%= @introduction.contents %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミ後の進捗状況</td>
        <% if @introduction.step == nil %>
        <td class="border border-black">口コミ完了</td>
        <% else %>
        <td class="border border-black"><%= @introduction.step %></td>
        <% end %>

      </tr>

    </table>
 

      </div>
      </div>

  </div>
</body>