


<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
    <%= render '/works/side_header' %>
    <div class="userIndex">
      <div class="providerTable text-right ">
        <div>
          <button type="button" class="btn btn-primary toNew fs-5 mr-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            ＋ 進捗設定する
          </button>

          <%= form_with(model: @introduction, url: introduction_path, local: true ) do |form| %>  
            <div class="modal w-100 m-auto" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                  <div class="modal-header">
                     <h5 class="modal-title h4" id="staticBackdropLabel">新規案件作成</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
              
                  <div class="modal-body">
                    <div class="w-75 m-auto mb-4 mt-2 text-left">
                    <%= form.label :進捗編集,class:"h4 text-left" %>
                    <%= form.select :step, [['お客様紹介確認完了'], ['お客様と繋がりませんでした'], ['断られました'],['キャンセル'], ['検討中'], ['進行中'], ['契約成立'], ['報酬振込完了']], {:controller => :introductions, :action => :update, :id => @introduction} %>
                    </div>
                    <div class="w-75 m-auto mb-4 mt-2 text-left">
                    <%= form.label :掲載主からのコメント,class:"h4 text-left" %>
                    <%= form.text_area :comment ,class:"form-control fs-4", size: "20x10" %>                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary fs-4" data-bs-dismiss="modal">閉じる</button>
                      <%= form.submit '進捗更新',data: { confirm: '更新しますか？' },class: 'submit btn btn-primary fs-4' %>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
     
     

  <div class="text-center"> 
       <h1 class="text-center mb-5">口コミ内容</h1>

      <table class="table w-75 m-auto">
      
        
      <tr class="border font-bold w-75 m-auto">
        <td class="border border-black  py-3">案件名</td>
        <td class="border border-black text-center"><%= @introduction.work.title %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">紹介者</td>
        <td class="border border-black"><%= @introduction.user.name %>様</td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミされた方</td>
        <td class="border border-black"><%= @introduction.name %>様</td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミされた方の電話番号</td>
        <td class="border border-black"><%= @introduction.phonenumber %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">紹介者の口座情報(銀行名/支店/口座種類/口座番号)</td>
        <td class="border border-black"><%= @introduction.user.bank %>/<%= @introduction.user.branch %>/<%= @introduction.user.account_type %>/<%= @introduction.user.account_no %></td>
      </tr>
      
      
      
      <tr class="border">
        <td class="border border-black text-center py-3">口コミの確認</td>
        <td class="border border-black">
        <% if @introduction.permission == true %>
          とっている
          <% elsif @introduction.permission == false %>
          とっていない
          <% end %>
        </td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミ内容</td>
        <td class="border border-black"><%= @introduction.contents %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">口コミ後の進捗状況</td>
        <% if @introduction.step == nil %>
        <td class="border border-black">口コミ完了</td>
        <% else %>
        <td class="border border-black"><%= @introduction.step %></td>
        <% end %>

      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">掲載主からのコメント</td>
        <td class="border border-black"><%= @introduction.comment %></td>
      </tr>

    </table>
 
   </div>
      </div>
      </div>

  </div>
</body>