



<body class="devise">
<div class="login-page">
  <div class="formSession">
  <h2>管理者ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form class="login-form">

    <div class="formSet">
      <%= f.email_field :email, autofocus: true, placeholder: ' E-mail' %>
    </div>

    <div class="formSet">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: ' Password' %>
    </div>  
    
    <div class="formSet">
      <%= f.submit "ログインする",class:"button" %>
    </div> 

      <% if devise_mapping.rememberable? %>
          
            <p><%= f.check_box :remember_me,class:"checkbutton" %>ログインを記憶する</p>
        <% end %>

      <% end %>

    </form>
  </div>
</div>
<%= render "admins/shared/links" %>
</body>
