
<body class="devise">
<div class="login-page">
  <div class="formSession">
  <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form class="login-form">

      <%= f.email_field :email, autofocus: true, placeholder: ' E-mail' %>

      <%= f.password_field :password, autocomplete: "current-password", placeholder: ' Password' %>
      
      <%= f.submit "ログインする",class:"button" %>

      <% if devise_mapping.rememberable? %>
          <p>
            <%= f.check_box :remember_me %>
            ログインを記憶する
          </p>
        <% end %>

      <% end %>
  
      <p class="message">まだ登録されてない方は<a href="/users/sign_up">こちら</a></p>
      <p class="message"><%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name) %></p>
    </form>
  </div>
</div>
</body>