<body class="deviseInvite">
<div class="blackBack">
  <%= render '/layouts/header' %>
  <div class="inviteArea">
      <div class="invitePhrase">
            <h2>友達や同僚にも</h2>
            <h1><span>パラキャリをおすすめしてみませんか？</span></h1>
            <p>招待した方には招待された方の<span>報酬の10%が永続的に支払われます！</span></p>
            <p>招待された方は初回報酬振込時に<span>1000円プラスで支払われます！</span></p>
      </div>

      <div class="inviteImages">
        <div class="orangeBack">
          <p><span>伝え方の例</span></p>
          <div></div>

        </div>
      </div>

      <div class="formArea">
        <h3>さっそく招待用リンクを送りましょう！</h3>

                <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <% resource.class.invite_key_fields.each do |field| -%>
                    <div class="formSet">
                      <div class="text-left">紹介する人のEメール</div>
                      <%= f.text_field :email %>
                    </div>
                  <% end -%>


                  <div class="formSet">
                    <%= f.submit "友人に招待メールを送る",class:"button" %>
                  </div>
                <% end %>
        </div>
  </div>
      
</div>
</body>