
<body class="deviseInvite">
<%= render '/layouts/header' %>
<div class="Backblack">
    
    <div class="inviteArea">
      <div class="inviteFlex">
      <div class="inviteFirst">
        <div class="invitePhrase">
              <h2>友達や同僚にも</h2>
              <h1><span>パラキャリをおすすめしてみませんか？</span></h1>
              <p>招待した方には招待された方の<span>報酬の10%が永続的に支払われます！</span></p>
              <p>招待された方は初回報酬振込時に<span>1000円プラスで支払われます！</span></p>
        </div>

          <div class="formArea mt-5">
              <h3 class="h2">さっそく招待用リンクを送りましょう！</h3>

                  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <% resource.class.invite_key_fields.each do |field| -%>
                      <div class="formSet">
                        <div class="text-left">招待する人のEメール</div>
                        <%= f.text_field :email,class:"inviteField" %>
                      </div>
                    <% end %>


                    <div class="formSetInvite">
                      <%= f.submit "友人に招待メールを送る",class:"button" %>
                    </div>
                  <% end %>
          </div>
        </div>
        <div  class="inviteSecond">
          <div class="text-center">
            <h3>招待メールを送信後</h3>
            <p>こんなメールが届きます！</p>
            <div><%= image_tag "invite.jpg",class:"w-50 rounded" %></div>
          </div>
        </div>

    </div>
</div>

</body>