<body class="devise">
  <%= render '/layouts/header' %>
    <div class="login-page">
      <div class="formSession mt-4">

        <h2>友人を招待する</h2>

        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <% resource.class.invite_key_fields.each do |field| -%>
            <div class="formSet">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
          <% end -%>


          <div class="formSet">
            <%= f.submit t("devise.invitations.new.submit_button"),class:"button" %>
          </div>
        <% end %>

      </div>
      <div class="row">
      <h1 class="text-center">友人を紹介するとどうなるの？</h1>
        <div class="inviter">
          <h3>紹介した方</h3>
          <p>紹介された方の報酬の10%が永続的に支払われます</p>
        </div>
        <div class="invited">
          <h3>紹介された方</h3>
          <p>報酬を受けると初回報酬振込時に1000円がプラスで振り込まれます</p>
        </div>
      </div>
    </div>
  <%= render '/layouts/footer' %>
</body>