<p><%= @question.name %>様よりお問い合わせが来ました</p>


<p>■お客様名 ：<%= @question.name %></p>
<p>■お客様電話番号 ：<%= @question.phonenumber %>様</p>
<p>■お客様メールアドレス ：<%= @question.email %></p>
<p>■お問い合わせ内容 ：<%= @question.content %></p>