<body class="post-index">
  <%= render '/layouts/header' %>
  <div class="post-main">
    <h1>案件一覧</h1>

<div class="post-list-all">
<div class="post-list">
<% @providers.each do |provider| %>
  <% if provider.status == "公開" %>


      <section class="card">

      <a  class="link" href="/posts/<%= provider.id %>" class=" font-bold">
        <h1 class="card-title"><%= provider.title %></h1>
        <div class="card-content">
          <p class="card-text">報酬：<%= provider.reward %></p>
          <p class="card-text">地域：<%= provider.area %></p>
        </div>
      </a>
      
      <div class="card-link">
      <a href="/providers/<%= provider.id %>/introductions/new" class=" font-bold">口コミをする</a>
      <%= link_to "掲載主から詳細を聞く", "/providers/#{ provider.id }/details/new"  %> 
      </div>
      </section>
      

          <% end %>
      <% end %>
      </div>
  </div>
  </div>
</body>

