<body class="post-index">
  <%= render '/layouts/header' %>
  <div class="post-main">
    <h1>案件一覧</h1>


      <div class="post-list">
        <% @providers.each do |provider| %>
          <ul class="list-main">
          <div class="lists">
            <li class="title"><%= provider.title %></li>
            <li>報酬：<%= provider.reward %></li>
            <li>地域：<%= provider.area %></li>
            <li><a href="/posts/<%= provider.id %>" class=" font-bold">詳細</a></li>
          </div>
          </ul>
        <% end %>
      </div>
  </div>
</body>