 <%= render '/layouts/header' %>
<h1>案件一覧</h1>

<table>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td>案件名：<%= provider.title %></td>
        <td>報酬：<%= provider.reward %></td>
        <td>地域：<%= provider.area %></td>
        <td><a href="/posts/<%= provider.id %>" class=" font-bold">詳細</a></td>
      </tr>
    <% end %>
  </tbody>
</table>