<body class="post-show">
  <%= render '/layouts/header' %>

<% if @work.images.present? %>
<ul class="carousel w-50 m-auto">
  <% @work.images.each do |img| %>
    <li>
      <%= image_tag img.url   %>
    </li>
  <% end %>
</ul>
<% end %>

 
  <div class="postContent ">
    <div class="mb-5">
      <h3 class="pb-3 mb-3">案件名</h3>
      <p><%= @work.title %></p>
    </div>
    <div class="mb-5">
      <h3 class="pb-3 mb-3 ">事業者名</h3>
      <p><%= @work.company %></p>
    </div>
    <div class="mb-5">
    <% if @work.link.present? %>
      <h3>事業者ホームページ欄</h3>
      <p><%= auto_link(simple_format(@work.link), html: {target: '_blank'}) %></p>
      <% end %>
    </div>
    <div class="mb-5">
      <h3 class="pb-3 mb-3 ">報酬</h3>
      <p><%= @work.reward %></p>
    </div>
    <div class="mb-5">
      <h3 class="pb-3 mb-3 ">仕事内容</h3>
      <p><%= auto_link(simple_format(@work.pcontent), html: {target: '_blank'}) %></p>
    </div>
    <div class="mb-5">
      <h3 class="pb-3 mb-3 ">報酬支払日</h3>
      <p><%= @work.rday %></p>
    </div>
    <div class="mb-5">
      <h3 class="pb-3 mb-3 ">報酬内容</h3>
      <p><%= simple_format(@work.rcontent) %></p>
    </div>
    <div class="mb-5">
      <h3 class="pb-3 mb-3 ">対象地域</h3>
      <p><%= simple_format(@work.area) %></p>
    </div>
    <div class="mb-5">
      <h3 class="pb-3 mb-3 ">アピールポイント</h3>
      <p><%= simple_format(@work.appeal) %></p>
    </div>

  </div>

<a href="/works/<%= @work.id %>/introductions/new">
  <div class="action">
    口コミをする
  </div>
</a>
  </div>
  </div>
  <script>
$(function() {
  $('.carousel').slick({
    arrows: true,
    infinite: false,
    dots: true,
  });
});
  </script>

 
</body>

