<body class="post-show">
<%= render '/layouts/header' %>

<div class="posts">

<% if @provider.img? %>
<%= image_tag(@provider.img.url.to_s) %>
<% else%>
<div> <div>
<% end %>

<div class="post-contents">
  <strong>案件名</strong><br>
  <%= @provider.title %>
</div>

<div class="post-contents">
  <strong>企業名</strong><br>
  <%= @provider.company %>
</div>

<div class="post-contents">
  <strong>報酬</strong><br>
  <%= @provider.reward %>
</div>


<div class="post-contents">
  <strong>仕事内容</strong><br>
  <%= simple_format(@provider.pcontent) %>
</div>

<div class="post-contents">
  <strong>報酬支払日</strong><br>
  <%= @provider.rday %>
</div>

<div class="post-contents">
  <strong>報酬内容</strong><br>
  <%= simple_format(@provider.rcontent) %>
</div>


<div class="post-contents">
  <strong>対象地域</strong><br>
  <%= simple_format(@provider.area) %>
</div>


<div class="bottom">
  <strong>アピールポイント</strong><br>
  <%= simple_format(@provider.appeal) %>
</div>


<div class="action">
<%= link_to "口コミをする","/providers/#{@provider.id}/introductions/new" %>
</div>

</div>
</body>