<body class="post-show">
<%= render '/layouts/header' %>

<div class="posts">

<p>
  <strong>案件名:</strong>
  <%= @provider.title %>
</p>

<p>
  <strong>企業名:</strong>
  <%= @provider.company %>
</p>

<p>
  <strong>報酬:</strong>
  <%= @provider.reward %>
</p>

<p>
  <strong>仕事内容:</strong>
  <%= @provider.pcontent %>
</p>

<p>
  <strong>報酬支払日:</strong>
  <%= @provider.rday %>
</p>

<p>
  <strong>報酬内容:</strong>
  <%= @provider.rcontent %>
</p>

<p>
  <strong>対象地域:</strong>
  <%= @provider.area %>
</p>

<p class="bottom">
  <strong>アピールポイント:</strong>
  <%= @provider.appeal %>
</p>


<div class="action">
<%= link_to "口コミをする","/providers/#{@provider.id}/introductions" %>
</div>

</div>
</body>