



<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
    <div class="mainHeader">
    <ul>
    <% if provider_signed_in? %>
      <li class=""><span><%= link_to '事業者ログアウト' , destroy_provider_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' } %></span></li> 
      <li><%= current_provider.email %></li>
      <% else %>
      <li class=""><span>ログアウト</span></li> 
      <li>管理者名</li>
    
      <% end %>

    </ul>
    </div>
    
        
    <div class="userIndex">
      <h1 class="text-left">お問い合わせ（案件詳細希望者一覧)</h1>
      <div class="providerTable">
      

         <table class="table userTable">
        <tr class="heading ">
          <th class="border border-black text-center">案件名</th>
          <th class="border border-black text-center">お客様名</th>
          <th class="border border-black text-center">受信日時</th>
          <th class="border border-black text-center">対応チェック</th>
          <th class="border border-black text-center"></th>
        </tr>

       <% @details.each do |detail| %> 
      <tr class="text-center">
        <td class="border border-black"><%= detail.work.title %></td>
        <td class="border border-black"><%= detail.user.name %></td>
        <td class="border border-black"><%= l detail.created_at %></td>
        <td class="border border-black"><%= detail.status %></td>
        <td class="border border-black "><%= link_to '詳細', detail,class:"toShow text-decoration-none px-3 py-1  " %></td>
    



      </tr>
    <% end %>
        
        </table>
        <div class="text-center pagenation">
       
        </div>
      </div>
    </div>

  </div>
</body>