<p id="notice"><%= notice %></p>

<div class="provider-index">
<div class="side">
<%= render 'works/side' %>
</div>

<div class="bg_pattern Paper_v2">
<div class="providers">

<h1>案件の詳細を聞きたい方一覧</h1>

<table>
  <thead>
    <tr>
      <th>案件名</th>
      <th>お客様名</th>
      <th>対応チェック</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |detail| %> 
      <tr>
        <td class="border border-black"></td>
        <td class="border border-black"><%= detail.user.username %></td>
        <td class="border border-black"><%= detail.content %></td>
        <td class="hoverwhite"><%= link_to '詳細を見る', detail %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
