




<body class="providerPage">
  <div class="side">
    <%= render '/works/side' %>
  </div>
 
  <div class="main">
    <div class="mainHeader">
    <ul>
    <% if provider_signed_in? %>
      <li class=""><span><%= link_to '事業者ログアウト' , destroy_provider_session_path, method: :delete,data: { confirm: 'ログアウトしますか？' } %></span></li> 
      <li><%= current_provider.email %></li>
      <% else %>
      <li class=""><span>ログアウト</span></li> 
      <li>管理者名</li>
    
      <% end %>

    </ul>
    </div>
      
        
    <div class="userIndex">
     
      <div class="providerTable text-center pb-5">
      <div class="text-left">
        <%= link_to '< 一覧に戻る', details_path,class:"text-decoration-none  toShow " %>
      </div>
       <h1 class="text-center mb-5">お問い合わせ内容</h1>

      <table class="table w-75 m-auto">
      
        
      <tr class="border font-bold w-75 m-auto">
        <td class="border border-black  py-3">案件名</td>
        <td class="border border-black text-center"><%= @detail.work.title %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">お客様名</td>
        <td class="border border-black"><%= @detail.user.name %>様</td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">お客様電話番号</td>
        <td class="border border-black"><%= @detail.user.tel %>様</td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">お客様アドレス</td>
        <td class="border border-black"><%= @detail.user.email %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">具体的に気になる部分</td>
        <td class="border border-black"><%= @detail.content %></td>
      </tr>
      <tr class="border">
        <td class="border border-black text-center py-3">対応チェック</td>
        <td class="border border-black"><%= @detail.status %></td>
      </tr>
      <%= form_with(model: [@detail], local: true ) do |form| %>
     <tr class="border">
     <td class="border border-black text-center py-3">対応チェック編集</td>
     <td class="border border-black">
      <div class="field">

      <div>
        未対応<%= form.radio_button :status, '未対応' %>
      </div>

      <div>
        対応済み<%= form.radio_button :status, '対応済み' %>
      </div>

  
      <div class="actions">
        <%= form.submit '更新する',data: { confirm: '更新しますか？' },class: 'submit' %>
      </div>

  
      <% end %>
      </td>
      
    

    </table>
 


      </div>

  </div>
</body>