

<body class="devise">
<p class="alert"><%= alert %></p>
<div class="login-page">
  <div class="formSession">
  <h2>事業者ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form class="login-form">

    <div class="formSet">
      <%= f.email_field :email, autofocus: true, placeholder: ' E-mail' %>
    </div>

    <div class="formSet">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: ' Password' %>
    </div>  
    
    <div class="formSet">
      <%= f.submit "ログインする",class:"button" %>
    </div> 

      <% if devise_mapping.rememberable? %>
          
            <p><%= f.check_box :remember_me,class:"checkbutton" %>ログインを記憶する</p>
        <% end %>

        <p class="message"><a href="/providers/sign_up">まだ登録されてない方はこちら</a></p>
      <p class="message"><%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name) %></p>

      <% end %>

    </form>
  </div>
</div>
<%= render "providers/shared/links" %>
</body>
