


  <header class="lg:block z-9 w-full fixed bg-white border-b-2">
      <div id="header-nav" class="header-nav">
        <div class="header-logo">
          <%= link_to "ロゴ" ,"/tops/index" %>
        </div>
     
        <div id="header-list" class="header-list">
          <ul id="navbar" class="navbar">
            <li><%= link_to "案件一覧" ,"/posts/index" %></li>
            <li><%= link_to "お問い合わせはこちら" ,"/questions/new" %></li>
            
          <% if user_signed_in?  %>
            <li><a><%= link_to 'ログアウト' , destroy_user_session_path,method: :delete %></a></li>
            <li><%= link_to "友人を招待する" ,"/users/invitation/new" %></li>
            <li><%= link_to "管理者ページ" ,"/providers" %></li>
            <li><%= link_to "マイページ" ,"/progresses/index" %></li>
            
        
          <% else %>
            <li><%= link_to "会員登録" ,"/users/sign_up" %></li>
            <li><%= link_to "ログイン" ,"/users/sign_in" %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </header>
    