<header class="site-header lg:block z-9 w-full fixed bg-white border-b-2">
 <div class="wrapper site-header__wrapper">
        <div class="header-logo">

          <%= image_tag "logo.jpg",class:"logoImages"  %>
        </div>

          <nav class="nav">
            <div class="display-none">
            <div class="hamburger-menu">
                    <input type="checkbox" id="menu-btn-check">
                    <label for="menu-btn-check" class="menu-btn"><span></span></label>
                  <div class="menu-content">
                          <ul>
                          <li class=""><%= link_to "　案件一覧" ,"/posts/index" %></li>
                          <li class=""><%= link_to "　LINEでお問い合わせ" ,"https://page.line.me/892qodsr?openQrModal=true" %></li>
                          <li class="nav__item"><%= link_to "　友人を紹介する" ,"/users/invitation/new" %></li>   
                      <% if admin_signed_in?  %> 
                          <li class="nav__item"><%= link_to "　管理者ページ" ,"/works" %></li>
                      <% elsif provider_signed_in?  %>
                          <li class="nav__item"><%= link_to "　事業者ページ" ,"/works" %></li>
                      <% elsif user_signed_in?  %>
                                 
                          <li class="nav__item"><%= link_to "　ユーザーページ" ,"/progresses/index" %></li>
                          <li class="nav__item"><%= link_to "　ユーザー設定" ,"/progresses/index" %></li>
                          <li class="nav__item"><%= link_to '　ログアウト' , destroy_user_session_path, method: :delete %></li>
                        <% else %>
                          <li class=""><%= link_to "　ログイン" ,"/users/sign_in" %></li>
                          <li class=""><%= link_to "　会員登録" ,"/users/sign_up" %></li>
                        <% end %>
                          </ul>
                    </div>
                </div>
                </div>

                      <ul class="nav__wrapper">
                        <li class="nav__item h-list "><%= link_to "案件一覧" ,"/posts/index" %></li>
                        <li class="nav__item h-contact"><%= link_to "LINEでお問い合わせ" ,"https://page.line.me/892qodsr?openQrModal=true" %></li>
                        <li class="nav__item h-invite"><%= link_to "友人を紹介する" ,"/users/invitation/new" %></li>
                      <% if admin_signed_in?  %> 
                        <li class="nav__item h-mypage"><%= link_to "管理者ページ" ,"/questions" %></li>
                      <% elsif provider_signed_in?  %>
                        <li class="nav__item h-mypage"><%= link_to "事業者ページ" ,"/works" %></li>
                      <% elsif user_signed_in?  %>
                        
                        <li class="nav__item h-mypage"><%= link_to "マイページ" ,"/progresses/index" %></li>
                        <li class="nav__item h-logout"><%= link_to 'ログアウト' , destroy_user_session_path, method: :delete %></li>
                        <li class="nav__item userIcon"><i class="fas fa-user-circle fa-3x"></i><input type="checkbox"><ul class="UserInfo">
                          <li><%= link_to "マイページ" ,"/progresses/index" %></li>
                          <li><%= link_to "友人を紹介する" ,"/users/invitation/new" %></li>
                          <li><%= link_to 'ログアウト' , destroy_user_session_path, method: :delete %></li>
                        </ul></li>

                        
                        
                        
                        
                        
                      <% else %>
                        <li class="nav__item h-log"><%= link_to "ログイン" ,"/users/sign_in" %></li>
                        <li class="nav__item h-reg"><%= link_to "会員登録" ,"/users/sign_up" %></li>
                      <% end %>
                      </ul>
            </nav>
  </div>
 </header>
