
<!--口座情報フォーム -->

      <div class="formSet">
        <%= f.label :銀行名,class: 'label' %>
        <%= f.text_field :bank, placeholder: '  パラ銀行' %>
      </div>

      <div class="formSet">
        <%= f.label :支店名,class: 'label' %>
        <%= f.text_field :branch, placeholder: '  キャリ支店' %>
      </div>

      <div class="formSet">
        <%= f.label :口座種類,class: 'label' %>
        <%= f.select :kinds, [['普通'], ['当座']], { include_blank: false },class:"kinds" %>
      </div>

      <div class="formSet">
          <%= f.label :口座番号,class: 'label' %>
          <%= f.text_field :banknumber %>
      </div>

         <div class="formSet">
       <div class="label">紹介コード</div>
       <%= f.text_field :referrer_id, placeholder: '' %>
      </div>